{% extends "_layout/index_new2.html" %}
{% block style%}
<style>
    /*.veil ul li:nth-child(3) a{*/
    /*color:#FFD48B;*/
    /*}*/

    @media only screen and (min-width: 1200px) {
        .sandbox-content {
            padding-left: 145px;
            padding-right: 145px;
        }
    }


    .works-type li:nth-child({{ type }}) a{  color:#FFD48B;  }

    .copyright-panel{left: 0;bottom: -16.8px;}
</style>
{% endblock %}
{% block pageTitle %}<div style="text-align: center;"><span style="line-height: 34px;font-size: 26px;font-family: FZLTXHB--B51-0;color: #333333;"></span></div>{% endblock %}
{% block body %}
<div class="common-padding padding-top-122-49">
    <div class="title-text2 padding-60-30">CONTACT ME</div>
    <div class="contact-us-text padding-60-30">+86&nbsp;&nbsp;182&nbsp;&nbsp;1628&nbsp;&nbsp;5533</div>
    <div class="" style="margin-top: 30px;"><a class="contact-us-text a-hover" href="mailto:782877296@qq.com">782877296@qq.com</a></div>
    <div class="" style="margin-top: 30px;"><a class="contact-us-text a-hover" href="javascript:void(0);">wechat：Tmmandmm</a></div>


    <div class="title-text2 padding-120-60">ABOUT ME</div>
    <div class="contact-us-text padding-60-30" style="line-height: 30px;">
        明明同学，一位徘徊在艺术与设计的90后，希望通过自身对艺术的认知能自由的行走其中 ，不管是艺术，设计，交互，亦或者产品，甚至是代码其实都是相通相融的，心在生长，亦在扩展静下心，从生活的浮躁中解脱，创作出真正属于内心的作品
    </div>

    <div class="in-bl-line padding-60-30" style="margin-bottom: 100px;position: relative;">
        <!--<div class="in-bl-line-item map-width"><img style="width: 100%;" src="/images/map.jpg"/></div>-->
        <div class="copyright-text copyright-panel" style="">© 2018 Dorrr 版权所有</div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}