{% extends "_layout/index_new2.html" %}
{% block style%}
<style>
    /*.veil ul li:nth-child(3) a{*/
    /*color:#FFD48B;*/
    /*}*/

    @media only screen and (min-width: 1200px) {
        .sandbox-content {
            padding-left: 145px;
            padding-right: 145px;
        }
    }


    .works-type li:nth-child({{ type }}) a{  color:#FFD48B;  }

    .copyright-panel{left: 0;bottom: -16.8px;}
</style>
{% endblock %}
{% block pageTitle %}<div style="text-align: center;"><span style="line-height: 34px;font-size: 26px;font-family: FZLTXHB--B51-0;color: #333333;"></span></div>{% endblock %}
{% block body %}
<div class="common-padding padding-top-122-49">
    <div class="title-text2 padding-60-30">CONTACT US</div>
    <div class="contact-us-text padding-60-30">+86&nbsp;&nbsp;186&nbsp;&nbsp;0005&nbsp;&nbsp;5717</div>
    <div class="" style="margin-top: 30px;"><a class="contact-us-text a-hover" href="mailto:hello@dorrr.com">hello@dorrr.com</a></div>


    <div class="title-text2 padding-120-60">SOCIAL​</div>
    <div class="in-bl-line padding-60-30">
        <div class="contact-us-text contact-item contact-weibo in-bl-line-item" onclick="goHref('https://weibo.com/dorrr?is_hot=1')">+ weibo</div>
        <div class="contact-us-text contact-item contact-dribble in-bl-line-item" >+ dribbble</div>
        <div class="contact-us-text contact-item contact-instagram in-bl-line-item" onclick="goHref('https://www.instagram.com/dorrr.design/')">+ instagram</div>
    </div>

    <div class="in-bl-line padding-60-30" style="margin-bottom: 100px;position: relative;">
        <!--<div class="in-bl-line-item map-width"><img style="width: 100%;" src="/images/map.jpg"/></div>-->
        <div class="copyright-text copyright-panel" style="">© 2018 Dorrr 版权所有</div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}